/ Copyright (C) 2017 Enproduktion GmbH
/
/ This file is part of 3gears.
/
/ 3gears is free software: you can redistribute it and/or modify
/ it under the terms of the GNU General Public License as published by
/ the Free Software Foundation, either version 3 of the License, or
/ (at your option) any later version.
/
/ This program is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU General Public License for more details.
/
/ You should have received a copy of the GNU General Public License
/ along with this program.  If not, see <http://www.gnu.org/licenses/>.

- title I18n.t("articles.articles")

#head_container
  %h1= t("articles.articles")


#listcontainer_left

  - if @user
    %ul.category_list
      %li
      %li.last

  - if @categories
    %ul.category_list
      %li
      - @categories.each do |category|
        %li

#listcontainer_right

  %ul.filterlist
    / %li= link_to_creations(t("creations.most_viewed"), first: :most_viewed)
    / %li= link_to_creations(t("creations.least_viewed"), first: :least_viewed)
    / %li= link_to_creations(t("creations.oldest"), first: :oldest)
    / %li= link_to_creations(t("creations.newest"), first: nil)

  - if @show_create_links
    %ul.addlist
      / - if showing_ideas?
      /   %li= link_to t("creations.new_idea"), new_idea_path

  %ul.itemintro
    - @articles.each do |article|
      %li
        = link_to article do
          - if article.cover_image
            .big= image_tag article.cover_image.content.url(:small)  
          .listcontainer
            %strong= article.title(locale)
            .language= article.shown_locale(locale)
            .clear
            .date 12.21.2012
            .usergenerated
      - unless article.published?
        Not published!
  .clear

= paginate @articles
