/ Copyright (C) 2017 Enproduktion GmbH
/
/ This file is part of 3gears.
/
/ 3gears is free software: you can redistribute it and/or modify
/ it under the terms of the GNU General Public License as published by
/ the Free Software Foundation, either version 3 of the License, or
/ (at your option) any later version.
/
/ This program is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU General Public License for more details.
/
/ You should have received a copy of the GNU General Public License
/ along with this program.  If not, see <http://www.gnu.org/licenses/>.

!!! 5
%html
  %header
  %body
    .mail{:style => "font-size: 13px; color: #3d3d3d; font-family: Arial"}
      %p
        = t("account.mailer.salutation")
        #{@user.username},
      %p= t("account.mailer.updatemail")
      %p{:style => "color: #c1c1c1;"}
        = link_to confirm_account_email_url(locale: I18n.locale, confirmation_code: @user.new_email_token), :style => "color: #3d3d3d;" do
          = confirm_account_email_url(locale: I18n.locale, confirmation_code: @user.new_email_token)
      %p
        = t("account.mailer.wishes")
        %span{:style => "color: #2fd99f;"} ava.
        %br
          = t("account.mailer.your")
          %span{:style => "color: #2fd99f;"} ava.
          = t("account.mailer.team")
      %p= t("account.mailer.brake")
      %p
        = t("account.mailer.disclaimer")
        %a{:style => "color: #3d3d3d;", :href => "mailto:noreply@audiovisuellesarchiv.org?subject=3dox.newmail"} noreply@audiovisuellesarchiv.org
